@charset "utf-8";
body { }
#fullpage{ width:100%;}
.section{ position:relative; width:100%;}
.pro_iconBox{ width:100%; height:100%;}
.pro_iconBox img{ width:100%; height:auto;display:block; margin:0 auto;}
.prn_sec_icon img, .se_pro3_one img, .pro_ti_01 img, .pro_ti_0tr img, .se_pro3_small img{ max-width:100%; height:auto; display:block; margin:0 auto;}
.pro_play{ width:103px; padding-left:49px; height:39px; position:absolute; top:65%; left:50%; margin:-22px 0px 0px -79px; border:3px solid #fff; font-size:21px; color:#fff; line-height:39px; border-radius:25px; -webkit-border-radius:25px;-moz-border-radius:25px;transform:translate(0px,30px); -webkit-transform:translate(0px,30px); -moz-transform:translate(0px,30px);}
#section4 .pro_play{ border:3px solid #806347; color:#806347;}
#section4 .button_play{background:url(../images/play_cion1.png) 0px -45px no-repeat;}
.pro_hoerBox{ background:#fff; color:#211312;}
#section4 .pro_hoerBox{ background:#806347;color:#e0cfbd}
#section4 .pro_hoerBox .button_play{background:url(../images/play_cion1.png) 0px -66px no-repeat;}
.button_play{ position:absolute; top:9px; left:22px; width:18px; height:22px; background:url(../images/play_cion1.png) 0px 0px no-repeat;}
.pro_hoerBox .button_play{background:url(../images/play_cion1.png) 0px -22px no-repeat;}
.prn_sec2_Box{ width:853px; height:700px; position:absolute; top:50%; left:50%; margin:-350px 0px 0px -426px;}
.prn_sec_icon{ width:100%; height:auto;}
.se_pro3_box{ width:300%; height:100%; position:absolute; top:0px; left:0px; }
.se_pro3_one{ height:100%; width:33.33333%; float:left; position:relative; }
.se_pro3_small{ position:absolute; width:540px; height:auto;  }
.se_buirh{right:200px; top:100px;}
.wid_pro03{ width:288px;left:200px; top:100px;}
.wid_pro05{ right:100px;top:100px;}

/*增加css*/
.index_left{width: 200px;  height: auto;  float: left;  padding-top: 30px; margin-left: 30px;}
.index_left li{float: left; width:50px; margin-right: 50px; font-size: 18px; font-family: Microsoft YaHei;}
.index_left li:hover{cursor: pointer; margin-top: -3px;}
.type{width: 700px; margin-top: 29px; margin-left: -160px;}
.type img{width: 224px;display: inline-block;}

.index_left_01{width: 200px;  height: auto;  float: left;  padding-top: 18px; margin-left: 50px;}
.index_left_01 li{float: left; width:50px; margin-right: 50px; font-size: 18px; font-family: Microsoft YaHei;}
.index_left_01 li:hover{cursor: pointer; margin-top: -3px;}
.type_01{width: 450px; margin-top: 20px; margin-left: -160px;}
.type_01 img{width: 224px;display: inline-block;}
/*end*/


.pro_buttonBox{ width:100%; height:60px; text-align:center; position:absolute; bottom:60px; left:0px;}
.pro_buttonBox span{ width:24px; height:24px; text-align:center; font-size:18px; white-space:nowrap; color:#fff; display:inline-block; cursor:pointer; margin-right:20px; position:relative;}
.pro_buttonBox span font{ position:absolute; top:-36px ; left:-25px; display:none; }
.pro_buttonBox span.di_bixe font{display:block; }
.pro_buttonBox a{ display:inline-block; width:24px; height:24px;background:url(../images/pro_icon_but_02.png) no-repeat; }
.pro_buttonBox a.pro_but_box{background:url(../images/pro_icon_but_01.png) no-repeat;}
.pro_ti_01{ position:absolute; bottom:45px; left:50%; width:480px; height:auto; margin-left:-240px;}
.wid_pro06{ width:714px; top:190px; right:220px;}
.wid_pro07{ width:480px; top:120px; left:200px; right:auto;}
.wid_pro08{ width:638px; top:80px; left:160px;right:auto;}
.pro_ti_0tr{ width:583px; height:auto; position:absolute; bottom:100px; left:50%; margin-left:50px;}
.se_spBox{ width:1710px; height:880px; position:absolute; top:50%; left:50%; margin:-440px 0px 0px -855px;}
.sr_icon_box{ width:100%; height:100%; position:relative;}
.sr_icon_box div{ position:absolute; cursor:pointer; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;overflow:hidden;}
.sr_icon_box div img{ width:100%; height:auto;}
/*.icon_pro_01{ width:675px; height:447px; top:0px; left:0px;transform:translate(0px,1200px);-webkit-transform:translate(0px,1200px);-moz-transform:translate(00px,1200px); }
.icon_pro_02{ width:423px; height:304px; top:0px; left:687px;transform:translate(0px,1500px); -webkit-transform:translate(0px,1500px);-moz-transform:translate(0px,1500px); }
.icon_pro_03{ width:588px; height:430px; top:0px; left:1122px;transform:translate(0px,1080px); -webkit-transform:translate(0px,1080px);-moz-transform:translate(0px,1080px); }
.icon_pro_04{ width:355px; height:419px; top:459px; left:0px;transform:translate(0px,1800px); -webkit-transform:translate(0px,1800px);-moz-transform:translate(0px,1800px); }
.icon_pro_05{ width:308px; height:196px; top:459px; left:367px;transform:translate(0px,2000px); -webkit-transform:translate(0px,2000px); -moz-transform:translate(0px,2000px); }
.icon_pro_06{ width:308px; height:211px; top:667px; left:367px;transform:translate(0px,2300px); -webkit-transform:translate(0px,2300px); -moz-transform:translate(0px,2300px); }
.icon_pro_07{ width:423px; height:562px; top:316px; left:687px;transform:translate(0px,3000px); -webkit-transform:translate(0px,3000px); -moz-transform:translate(0px,3000px); }
.icon_pro_08{ width:588px; height:436px; top:442px; left:1122px;transform:translate(0px,2550px); -webkit-transform:translate(0px,2550px);-moz-transform:translate(0px,2550px); }
.poru_box_span{ height:33px; line-height:33px; padding:0px 20px 0px 35px;border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px; position:absolute; left:50%; top:50%; margin-left:-50px; background:url(../images/000_bg.png);font-size:16px; color:#fff; display:none;}
.poru_box_span font{ position: absolute; left:10px; top:8px; background:url(../images/fu_bg.png) no-repeat; width:17px; height:16px; }
.sr_icon_box div img{transition:ease all; -webkit-transition:ease all;-moz-transition:ease all;transition-duration:0.7s; -webkit-transition-duration:0.7s; -moz-transition-duration:0.7s;}
.sr_icon_box div img:hover{transform:scale(1.05,1.05); -webkit-transform:scale(1.05,1.05); -moz-transform:scale(1.05,1.05);}*/


.opcity_0{ opacity:0;}
.sec_01{transform:translate(0px,70px);-webkit-transform:translate(0px,70px);-moz-transform:translate(0px,70px);}
.sec_02{transform:translate(0px,130px); -webkit-transform:translate(0px,130px);-moz-transform:translate(0px,130px);}
.animate1_01{animation:an1_01 0.5s 0s forwards ease; -webkit-animation:an1_01 0.5s 0s forwards ease; -moz-animation:an1_01 0.5s 0s forwards ease;}
@keyframes an1_01{
    0%{transform:translate(0px,70px);  }
    100%{transform:translate(0px,0px);}
}
@-webkit-keyframes an1_01{
    0%{-webkit-transform:translate(0px,70px);  }
    100%{-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes an1_01{
   	0%{-moz-transform:translate(0px,70px); }
    100%{-moz-transform:translate(0px,0px);}
}  
.animate1_02{animation:an1_02 0.5s 0s  forwards ease; -webkit-animation:an1_02 0.5s 0s  forwards ease; -moz-animation:an1_02 0.5s 0s forwards ease;}
@keyframes an1_02{
    0%{transform:translate(0px,130px);  }
    100%{transform:translate(0px,0px);}
}
@-webkit-keyframes an1_02{
    0%{-webkit-transform:translate(0px,130px);  }
    100%{-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes an1_02{
   	0%{-moz-transform:translate(0px,130px);  }
    100%{-moz-transform:translate(0px,0px);}
}  
.com_ser{transform:translate(0px,30px); -webkit-transform:translate(0px,30px); -moz-transform:translate(0px,30px);}
.animate2_01{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate2_02{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
@keyframes an2_02{
    0%{transform:translate(0px,30px);  }
	10%{transform:translate(0px,25px);  }
    100%{transform:translate(0px,0px);}
}
@-webkit-keyframes an2_02{
    0%{-webkit-transform:translate(0px,30px);  }
	10%{-webkit-transform:translate(0px,25px);  }
    100%{-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes an2_02{
   	0%{-moz-transform:translate(0px,30px);  }
	10%{-moz-transform:translate(0px,25px);  }
    100%{-moz-transform:translate(0px,0px);}
}
.animate2_03{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate3_01{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate4_01{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate4_02{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate4_03{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
.animate5_02{animation:an2_02 0.7s 0s  forwards linear; -webkit-animation:an2_02 0.7s 0s  forwards linear; -moz-animation:an2_02 0.7s 0s forwards linear;}
@keyframes an3_02{
    0%{transform:translate(0px,50px); opacity:0; }
	10%{transform:translate(0px,50px); opacity:1; }
    100%{transform:translate(0px,0px);opacity:1;}
}
@-webkit-keyframes an3_02{
    0%{-webkit-transform:translate(0px,50px); opacity:0; }
	10%{-webkit-transform:translate(0px,50px); opacity:1; }
    100%{-webkit-transform:translate(0px,0px);opacity:1;}
}
@-moz-keyframes an3_02{
   	0%{-moz-transform:translate(0px,50px); opacity:0; }
	10%{-moz-transform:translate(0px,50px); opacity:1; }
    100%{-moz-transform:translate(0px,0px);opacity:1;}
}

.an_seBox6 .animate6_01{animation:an6_01 0.8s 0s  forwards ease;-webkit-animation:an6_01 0.8s 0s  forwards ease; -moz-animation:an6_01 0.8s 0s forwards ease;}
@keyframes an6_01{
    0%{transform:translate(0px,1200px); }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_01{
    0%{-webkit-transform:translate(px,1200px); }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_01{
   	0%{-moz-transform:translate(0px,1200px); }
    100%{-moz-transform:translate(0px,0px); }
}
.an_seBox6 .animate6_02{animation:an6_02 0.8s 0s  forwards ease; -webkit-animation:an6_02 0.8s 0s  forwards ease; -moz-animation:an6_02 0.8s 0s forwards ease;}
@keyframes an6_02{
    0%{transform:translate(0px,1500px); }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_02{
    0%{-webkit-transform:translate(0px,1500px); }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_02{
   	0%{-moz-transform:translate(0px,1500px);  }
    100%{-moz-transform:translate(0px,0px); }
}
.an_seBox6 .animate6_03{animation:an6_03 0.8s 0s  forwards ease; -webkit-animation:an6_03 0.8s 0s  forwards ease; -moz-animation:an6_03 0.8s 0s forwards ease;}
@keyframes an6_03{
    0%{transform:translate(0px,1080px); }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_03{
    0%{-webkit-transform:translate(0px,1080px); }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_03{
   	0%{-moz-transform:translate(0px,1080px); }
    100%{-moz-transform:translate(0px,0px);}
}
.an_seBox6 .animate6_04{animation:an6_04 0.8s 0s  forwards ease; -webkit-animation:an6_04 0.8s 0s  forwards ease; -moz-animation:an6_04 0.8s 0s forwards ease;}
@keyframes an6_04{
    0%{transform:translate(0px,1800px); }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_04{
    0%{-webkit-transform:translate(0px,1800px); }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_04{
   	0%{-moz-transform:translate(0px,1800px);  }
    100%{-moz-transform:translate(0px,0px); }
}
.an_seBox6 .animate6_05{animation:an6_05 0.8s 0s  forwards ease; -webkit-animation:an6_05 0.8s 0s  forwards ease; -moz-animation:an6_05 0.8s 0s forwards ease;}
@keyframes an6_05{
    0%{transform:translate(0px,2000px); }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_05{
    0%{-webkit-transform:translate(0px,2000px); }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_05{
   	0%{-moz-transform:translate(0px,2000px);  }
    100%{-moz-transform:translate(0px,0px); }
}
.an_seBox6 .animate6_06{animation:an6_06 0.8s 0s  forwards ease;-webkit-animation:an6_06 0.8s 0s  forwards ease; -moz-animation:an6_06 0.8s 0s forwards ease;}
@keyframes an6_06{
    0%{transform:translate(0px,2300px);  }
    100%{transform:translate(0px,0px); }
}
@-webkit-keyframes an6_06{
    0%{-webkit-transform:translate(0px,2300px);  }
    100%{-webkit-transform:translate(0px,0px); }
}
@-moz-keyframes an6_06{
   	0%{-moz-transform:translate(0px,2300px); }
    100%{-moz-transform:translate(0px,0px); }
}
.an_seBox6 .animate6_07{animation:an6_07 0.8s 0s  forwards ease; -webkit-animation:an6_07 0.8s 0s  forwards ease; -moz-animation:an6_07 0.8s 0s forwards ease;}
@keyframes an6_07{
    0%{transform:translate(0px,3000px);}
    100%{transform:translate(0px,0px);}
}
@-webkit-keyframes an6_07{
    0%{-webkit-transform:translate(0px,3000px); }
    100%{-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes an6_07{
   	0%{-moz-transform:translate(0px,3000px); }
    100%{-moz-transform:translate(0px,0px);}
}
.an_seBox6 .animate6_08{animation:an6_08 0.8s 0s  forwards ease; -webkit-animation:an6_08 0.8s 0s  forwards ease; -moz-animation:an6_08 0.8s 0s forwards ease;}
@keyframes an6_08{
    0%{transform:translate(0px,2550px);}
    100%{transform:translate(0px,0px);}
}
@-webkit-keyframes an6_08{
    0%{-webkit-transform:translate(0px,2550px); }
    100%{-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes an6_08{
   	0%{-moz-transform:translate(0px,2550px); }
    100%{-moz-transform:translate(0px,0px);}
}


.se_1Box{ width:100%; height:100%; position:absolute; top:100%; left:0px; background:url(../images/se1_bg.png); overflow:hidden;}

.right_nav{ width:12px; height:250px; position:fixed; right:100px; top:50%; margin-top:-125px;z-index:5;cursor:pointer;}
.right_nav li{ width:8px; height:8px; margin-bottom:14px;  position:relative; padding:2px;}
.right_nav li font{width:8px; height:8px; display:block ;opacity:0.4;background:#fff; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;  }
.right_nav li font.bg_fff{ opacity:1;}
.right_nav li span{ width:70px; height:24px; position:absolute; right:18px; top:-7px; background:url(../images/ri_nav_txt.png) no-repeat; font-size:13px; line-height:24px; text-align:center; padding-right:3px; }

.icon_bigBox{ width:100%; height:100%; background:url(../images/000_bg.png); position:absolute; top:0px; left:0px; display:none;}
.icon_conBox{ width:920px; height:690px; position:absolute; top:50%; left:50%; margin:-345px 0px 0px -460px;}
.icon_conBox span{ width:50px; height:97px; position:absolute; left:50%; top:50%; cursor:pointer;}
.icon_conBox span.ne_left{ margin:-48px 0px 0px -550px;}
.icon_conBox span.ne_right{ margin:-48px 0px 0px 500px;}
.icon_conBox span.ne_colse{ width:59px; height:58px; margin:-350px 0px 0px 470px;}
.icon_conBox span img{ width:100%; height:auto;}
.icon_conBox > img{ display:none;}

.se_embBox{ width:100%; height:100%; position:absolute; top:0px; left:0px; background:url(../images/000_bg.png);}
.se_embBox_conBox{ width:400px; height:400px; position:absolute; left:50%; top:50%; margin:-200px 0px 0px -200px;}
.se_embBox_conBox span.ne_colse{ width:59px; height:58px; margin:-201px 0px 0px 205px;position:absolute; left:50%; top:50%; cursor:pointer;}
#section4 .por_01{ margin-left:-205px; width:120px;}
#section4 .por_02{ margin-left:32px; width:120px;}


.pro_1_01{transform:translate(0px,130px); -webkit-transform:translate(0px,130px);-webkit-transform:translate(0px,130px); opacity:0}
.pro_1_02{transform:translate(0px,200px); -webkit-transform:translate(0px,200px);-webkit-transform:translate(0px,200px); opacity:0}
.pro_1_03{transform:translate(0px,380px); -webkit-transform:translate(0px,380px);-webkit-transform:translate(0px,380px); opacity:0}
.animatepro_1{animation:pro_1_n1 0.7s 0s  forwards ease; -webkit-animation:pro_1_n1 0.7s 0s  forwards ease; -moz-animation:pro_1_n1 0.7s 0s forwards ease;}
@keyframes pro_1_n1{
    0%{transform:translate(0px,130px); opacity:0}
    100%{transform:translate(0px,0px);opacity:1}
}
@-webkit-keyframes pro_1_n1{
    0%{-webkit-transform:translate(0px,130px); opacity:0}
    100%{-webkit-transform:translate(0px,0px);opacity:1}
}
@-moz-keyframes pro_1_n1{
   	0%{-moz-transform:translate(0px,130px); opacity:0}
    100%{-moz-transform:translate(0px,0px);opacity:1}
}
.animatepro_2{animation:pro_2_n1 0.7s 0s  forwards ease; -webkit-animation:pro_2_n1 0.7s 0s  forwards ease; -moz-animation:pro_2_n1 0.7s 0s forwards ease;}
@keyframes pro_2_n1{
    0%{transform:translate(0px,200px); opacity:0}
    100%{transform:translate(0px,0px);opacity:1}
}
@-webkit-keyframes pro_2_n1{
    0%{-webkit-transform:translate(0px,200px); opacity:0}
    100%{-webkit-transform:translate(0px,0px);opacity:1}
}
@-moz-keyframes pro_2_n1{
   	0%{-moz-transform:translate(0px,200px); opacity:0}
    100%{-moz-transform:translate(0px,0px);opacity:1}
}
.animatepro_3{animation:pro_3_n1 0.7s 0s  forwards ease; -webkit-animation:pro_3_n1 0.7s 0s  forwards ease; -moz-animation:pro_3_n1 0.7s 0s forwards ease;}
@keyframes pro_3_n1{
    0%{transform:translate(0px,380px); opacity:0}
    100%{transform:translate(0px,0px);opacity:1}
}
@-webkit-keyframes pro_3_n1{
    0%{-webkit-transform:translate(0px,380px); opacity:0}
    100%{-webkit-transform:translate(0px,0px);opacity:1}
}
@-moz-keyframes pro_3_n1{
   	0%{-moz-transform:translate(0px,380px); opacity:0}
    100%{-moz-transform:translate(0px,0px);opacity:1}
}
.down_nextBox{ width:50px; height:50px; position:fixed; bottom:10px; left:50%; margin-left:-25px;}


@media only screen and (max-width: 1680px) {
	.sr_icon_box{transform:scale(0.95,0.95); -webkit-transform:scale(0.95,0.95); -moz-transform:scale(0.95,0.95);}
}


@media only screen and (max-width: 1440px) {
	.se_pro3_small{width:480px;}
	.wid_pro03{ width:200px;}
	.pro_ti_01{ width:400px; margin-left:-200px;}
	.wid_pro06{ width:580px; }
	.wid_pro07{ width:420px;}
	.wid_pro08{ width:520px; }
	.pro_ti_0tr{ width:480px;}
	.sr_icon_box{transform:scale(0.85,0.85); -webkit-transform:scale(0.85,0.85); -moz-transform:scale(0.85,0.85);}
	.right_nav{ right:80px;}
	
}

@media only screen and (max-width: 1400px)	and (max-height: 700px) {
	.con_main{transform:scale(0.8,0.8);-webkit-transform:scale(0.8,0.8); -moz-transform:scale(0.8,0.8);}
	.wid_pro08{ width:500px;}
	.prn_sec2_Box{transform:scale(0.65,0.65);-webkit-transform:scale(0.65,0.65); -moz-transform:scale(0.65,0.65);}
	.icon_conBox{transform:scale(0.7,0.7); -webkit-transform:scale(0.7,0.7); -moz-transform:scale(0.7,0.7);}
	.sr_icon_box{transform:scale(0.7,0.7); -webkit-transform:scale(0.7,0.7); -moz-transform:scale(0.7,0.7);}
	.right_nav{ right:70px;}
	.pro_ti_0tr{ width:450px;}
	.es_nudhrBpx{transform:scale(0.8,0.8); -webkit-transform:scale(0.8,0.8); -moz-transform:scale(0.8,0.8);}
}    
@media only screen and (max-width: 1280px) {
	.se_pro3_small{width:420px;}
	.wid_pro03{ width:190px;}
	.pro_ti_01{ width:350px; margin-left:-175px;}
	.wid_pro06{ width:450px; }
	.wid_pro07{ width:380px;}
	.wid_pro08{ width:450px; }
	.pro_ti_0tr{ width:450px;}
	.sr_icon_box{transform:scale(0.75,0.75); -webkit-transform:scale(0.75,0.75); -moz-transform:scale(0.75,0.75);}
	.prn_sec2_Box{transform:scale(0.75,0.75); -webkit-transform:scale(0.75,0.75); -moz-transform:scale(0.75,0.75);}
	.icon_conBox{transform:scale(0.8,0.8); -webkit-transform:scale(0.8,0.8); -moz-transform:scale(0.8,0.8);}
	.right_nav{ right:50px;}
}