@charset "utf-8";
@media screen and (min-width: 0px) and (max-width: 1199px) {
    .closeApply {
        position: absolute;
        right: -465px;
        top: -112px;
        cursor: pointer;
        z-index: 999;
    }
    .cooperText {
        width: 200px;
        background: #eeeff0;
        border: none;
        height: 30px;
    }
    .cooperName {
        position: relative;
        top: 7px;
        color: #5b5f68 !important;
    }
    .cooperStar {
        color: red !important;
    }
    .showAppearance {
        float: left;
    }
    .showAppearance input {
        -webkit-appearance: radio;
    }
    .showAppearance span {
        color: #5b5f68;
    }
    .cooper_f {
        float: left;
        margin-left: 25px;
    }
    .cooper_s {
        float: left;
        color: #5b5f68;
        margin-left: 5px;
    }
    .cooper_s span {
        color: #5b5f68 !important;
    }
    .applyForFreeMud {
        text-align: center;
        margin-top: 20px;
    }
    .applyForFreeMud button {
        width: 300px;
        height: 40px;
        background: #f9741f;
        color: white;
        border: none;
        border-radius: 5px;
    }
    .about_content {
        text-align: justify;
    }
    html,
    body {
        font-size: 62.5% !important;
    }
    html {
        -webkit-text-size-adjust: none;
    }
    body {
        position: relative;
    }
    html {
        font-size: 62.5%
    }
    @media only screen and (min-width: 321px) {
        /*iphone5*/
        html {
            font-size: 62.5% !important
        }
    }
    @media only screen and (min-width: 361px) {
        /*三星note*/
        html {
            font-size: 70.31% !important
        }
    }
    @media only screen and (min-width: 376px) {
        /*iphone6*/
        html {
            font-size: 73.24% !important
        }
    }
    @media only screen and (min-width: 481px) {
        html {
            font-size: 94% !important
        }
    }
    @media only screen and (min-width: 561px) {
        html {
            font-size: 109% !important
        }
    }
    @media only screen and (min-width: 641px) {
        html {
            font-size: 125% !important
        }
    }
    /*头部*/
    .header {
        overflow: hidden;
        padding: 1.5rem;
    }
    .logo {
        float: left;
    }
    .logo img {
        width: 8.1rem;
    }
    .wap_nav {
        float: right;
        cursor: pointer;
    }
    .wap_nav img {
        width: 2.75rem;
        margin-top: 0.65rem;
    }
    .nav {
        display: none;
    }
    .wap_nav_tc {
        text-align: center;
        border-top: 1px solid #efefef;
        display: none;
    }
    .wap_nav_tc li {
        text-align: center;
        border-bottom: 1px solid #efefef;
        height: 3.5rem;
        ;
        line-height: 3.5rem;
        font-size: 1.4rem;
    }
    .wap_nav_tc li a {
        display: block;
    }
    .wap_nav_tc li a:active {
        background: #f9f9f9;
    }
    /*BANNER*/
    .flexslider {
        display: none;
    }
    .swiper-container img {
        width: 100%;
    }
    /*标题*/
    .title {
        background: url(../image/wap_biaoti.png) no-repeat;
        line-height: 4.28rem;
        height: 4.28rem;
        padding-left: 3.5rem;
        width: 9rem;
        margin: 0 auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        background-size: 4.28rem;
    }
    .title h2 {
        color: #CD131C;
        font-size: 1.6rem;
    }
    /*核心产品*/
    .products {
        overflow: hidden;
        background: #F7F7F7;
        padding: 2.2rem 1rem;
    }
    .products li {
        float: left;
        width: 50%;
        height: 324px;
        text-align: center;
        margin-bottom: 1rem;
    }
    .products li dt img {
        width: 7rem;
        height: 7rem;
        margin-left: 60px;
    }
    .prd_img{
        display: block;
    }
    .products li dl {
        margin: 0 auto;
        width: 13rem;
    }
    .products li dd h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #333333;
        font-size: 1.5rem;
    }
    .products li dd {
        line-height: 180%;
        color: #999;
        font-size: 1rem;
    }
    /*服务客户*/
    .customer {
        padding-bottom: 30px;
        overflow: hidden;
        background: url(../image/wap_kehu_back.png) no-repeat bottom;
        background-size: 200%;
    }
    .customer_list {
        background: #f7f7f7;
        overflow: hidden;
        padding: 1.5rem;
    }
    .customer_list li {
        float: left;
        background: #fff;
        margin-bottom: 11px;
        width: 28%;
        -moz-box-shadow: 0 0 .25rem #ccc;
        -webkit-box-shadow: 0 0 .25rem #ccc;
        box-shadow: 0 0 .25rem #ccc;
        margin: 2.6%;
    }
    /*联系方式*/
    .contact {
        padding: 20px;
        overflow: hidden;
    }
    .tel_400 {
        display: none;
    }
    .wap_tel_400 {
        background: url(../image/wap_400.jpeg) no-repeat;
        height: 4.1rem;
        line-height: 4.1rem;
    }
    .wap_tel_400 span {
        font-size: 1.9rem;
        color: #fff;
        background: url(../image/wap_400_icon.png) no-repeat 20% center;
        text-align: center;
        width: 100%;
        display: block;
        background-size: 2.1rem;
        padding-left: .5rem;
    }
    .map {
        text-align: center;
        margin-top: 2rem;
    }
    .map img {
        width: 15.3rem;
    }
    .tel {
        margin-top: 2rem;
    }
    .tel dd {
        margin-top: 10px;
        line-height: 200%;
        color: #999;
    }
    .tel dd h3 {
        color: #333333;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .tel dd p {
        font-size: .8rem;
        word-break: break-all;
    }
    /*底部导航*/
    .footer_nav {
        display: none;
    }
    /*版权*/
    .copyright {
        box-sizing: border-box;
        padding-top: 0.5rem;
        text-align: center;
        background: #1C2227;
        color: white;
        height: 4rem;
        line-height: 1.6rem;
        font-size: 0.4rem
    }
    .copyright .wap-copyright {
        display: none;
    }
    /*内页BANNER*/
    .page_banner {
        display: none;
    }
    .wap_page_banner img {
        width: 100%;
    }
    /*合作伙伴*/
    .partner {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        overflow: hidden;
    }
    /*合作伙伴 - 左*/
    .partner_left {
        width: 65%;
        margin: 0 auto;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }
    .partner_left li {
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: -1px;
        font-size: 1.2rem;
        overflow: hidden;
        cursor: pointer;
        width: 32.6%;
        float: left;
        margin-right: -1px;
        height: 3.9rem;
        line-height: 3.9rem;
    }
    .partner_left li.hover {
        background: #FF9C01;
        border: 1px solid #FF9C01;
        color: #fff;
    }
    .partner_left li em {
        display: block;
    }
    .partner_left li span {
        display: block;
    }
    /*合作伙伴 - 右*/
    .partner_right {
        overflow: hidden;
    }
    .partner_right ul {
        padding: 1.5rem;
    }
    .partner_right li {
        float: left;
        text-align: center;
        width: 29%;
        margin: 2%
    }
    .partner_right li span {
        display: block;
    }
    .partner_right li span img {
        border: 1px solid #ddd;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .partner_right li em {
        height: 31px;
        display: block;
        margin-top: 1rem;
        font-size: 1.2rem
    }
    /*薪资待遇*/
    .treatment {
        padding: 15px 15px 0 15px;
    }
    .treatment dl {
        overflow: hidden;
        margin-bottom: 30px;
    }
    .treatment dt {
        float: left;
        width: 4.5rem;
    }
    .treatment dd {
        float: right;
        width: 75%
    }
    .treatment dd h3 {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .treatment dd em {
        display: block;
        line-height: 180%;
        color: #666;
        font-size: 1.2rem;
        word-break: break-all;
    }
    /*招聘职位*/
    .hr {
        border-top: 1px solid #ddd;
        padding-top: 1.5rem;
        overflow: hidden;
        padding-bottom: 15px;
        background: url(../image/zhaopin.jpeg) no-repeat center;
        background-position-y: 105px;
    }
    .hr_title {
        text-align: center;
        padding: 1.5rem;
        position: relative;
        top: 22px
    }
    .hr_title h3 {
        font-size: 2rem;
        color: #EC9A30;
        margin-bottom: 2rem;
    }
    .hr_title span {
        display: block;
        line-height: 200%;
        font-size: 1.2rem;
        color: #3FBAF9;
    }
    .hr_title span a {
        color: #3FBAF9;
        text-decoration: underline;
        display: block;
    }
    .hr_title span em {
        color: #E11A1A;
    }
    .hr_list {
        padding: 15px;
    }
    .hr_list li {
        float: left;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .hr_list li span {
        background: #EB3D0F;
        color: #fff;
        width: 6rem;
        height: 2.5rem;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -o-border-radius: 100%;
        display: block;
        text-align: center;
        line-height: 2.5rem;
        float: left;
        font-size: 1.2rem;
    }
    .hr_list li span.other {
        background: #E4B31D;
    }
    .hr_list li a {
        display: block;
        float: left;
        line-height: 2.5rem;
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    .hr_list li a:hover {
        text-decoration: underline;
    }
    /*关于我们*/
    .about_banner {
        background: url(../image/banner/wap_about.jpeg) no-repeat;
        overflow: hidden;
        background-size: cover;
    }
    /*左侧轮播*/
    .about_left {
        width: 10rem;
        position: relative;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .about_left img {
        border: 1px solid #53DFF8;
    }
    .line {
        background: #6061C2;
        width: 1px;
        position: absolute;
        right: -1.5rem;
        height: 7.6rem;
        top: 0;
    }
    /* Dots */
    .about_left .slick-dots {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        right: -11.25rem;
        top: 1.3rem;
        z-index: 10;
    }
    .about_left .slick-dots li {
        position: relative;
        height: 1rem;
        width: 1rem;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .about_left .slick-dots li button {
        border: 0;
        background: transparent;
        display: block;
        height: .5rem;
        width: .5rem;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        cursor: pointer;
        outline: none;
        background: #3378A0;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -o-border-radius: 100%;
    }
    .about_left .slick-dots li button:focus {
        outline: none;
    }
    .about_left .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: .5rem;
        width: .5rem;
        text-align: center;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: #58EDFF;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -o-border-radius: 100%;
    }
    .about_left .slick-dots li.slick-active button:before {
        opacity: 0.75;
    }
    /*左侧介绍*/
    .about_right {
        padding: 1.5rem;
        margin-top: 2rem;
    }
    .about_right h3 {
        display: none;
    }
    .about_content {
        margin-top: 1rem;
        color: #FFFFFF;
        line-height: 180%;
        font-size: 1.2rem;
    }
    .about_content p {
        text-indent: 2em;
        margin-bottom: 1.5rem;
    }
    .about_banner1 {
        background: url(../image/shalou-downWap.png) no-repeat;
        width: 80%;
        margin-left: 10%;
        margin-top: 105px;
        height: 196px;
    }
    .about_right1 {
        float: right;
        width: 500px;
    }
    .about_content1 {
        margin-top: 20px;
        color: #000;
        line-height: 180%;
        width: 263px;
        margin-left: 48%;
        font-size: 12px;
    }
    .about_content p {
        text-indent: 2em;
        margin-bottom: 25px;
    }
    .content_first {
        color: #000;
        font-size: 35px;
        font-weight: bolder;
    }
    .about_content2 {
        margin-top: 1rem;
        color: #FFFFFF;
        line-height: 180%;
        font-size: 1.2rem;
        text-align: justify;
    }
    .about_content2 p {
        text-indent: 2em;
        margin-bottom: 1.5rem;
        word-break: break-all;
    }
    /*关于我们展示*/
    .title_page {
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        color: #A6A6A6;
    }
    .about_show_en {
        overflow: hidden;
        border-bottom: 1px solid #efefef;
        padding: 1.5rem 0;
    }
    .about_show_en dl {
        float: left;
        text-align: center;
    }
    .about_show_en dt {
        display: block;
        text-align: center;
    }
    .about_show_en dt img {
        width: 5rem;
        margin: 0 auto;
    }
    .about_show_en dd h3 {
        font-size: 1.35rem;
        font-weight: lighter;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    .about_show_en dd em {
        display: block;
        line-height: 150%;
        margin: 0 auto;
        color: #666666;
        font-size: 1.2rem;
        width: 80%;
        text-align: justify;
        word-break: break-all;
    }
    .about_show_en dd span {
        display: block;
        margin-top: 3rem;
        line-height: 200%;
        font-size: 1.2rem;
        text-align: justify;
        word-break: break-all;
    }
    .about_show {
        overflow: hidden;
        border-bottom: 1px solid #efefef;
        padding: 1.5rem 0;
    }
    .about_show dl {
        float: left;
        text-align: center;
    }
    .about_show dt {
        display: block;
        text-align: center;
    }
    .about_show dt img {
        width: 5rem;
        margin: 0 auto;
    }
    .shalouWap {
        display: block;
    }
    .shalouPc {
        display: none;
    }
    .about_show dd h3 {
        font-size: 1.35rem;
        font-weight: lighter;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    .about_show dd em {
        display: block;
        line-height: 150%;
        margin: 0 auto;
        color: #666666;
        font-size: 1.2rem;
        width: 80%;
    }
    .location_index {
        text-align: center;
        word-break: break-all;
    }
    .about_show dd span {
        display: block;
        margin-top: 3rem;
        line-height: 200%;
        font-size: 1.2rem;
    }
    .three dl {
        width: 33.333%;
    }
    .fore {
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .fore dt {
        width: 30%;
        height: 3rem;
        margin: 0 auto;
    }
    .fore dl {
        width: 45%;
        margin: 2.5%;
        margin-bottom: 1.5rem;
        color: #666666
    }
    .fore .title_page {
        margin-left: -1.5rem;
    }
    /*大事记*/
    .event {
        background: url(../image/dashiji.jpeg) no-repeat 80%;
        padding: 1.5rem;
    }
    .event_title {
        margin-bottom: 2rem;
    }
    .event_title h3 {
        display: none;
    }
    .event_list {
        background: url(../image/xian.jpeg) repeat-y 4.7rem;
    }
    .event_list li {
        overflow: hidden;
        margin-bottom: 1.5rem;
    }
    .event_list li span {
        display: block;
    }
    .event_list li .event_date {
        float: left;
        color: #83BA39;
        background: url(../image/dian.jpeg) no-repeat right center;
        padding-right: 1.7rem;
        line-height: 3.3rem;
        font-size: 1.2rem;
    }
    .event_list li .event_content {
        float: left;
        background: #FFBB42;
        margin-left: 1.2rem;
        padding: .5rem .8rem;
        color: #552E09;
        width: 14rem;
        font-size: 1.2rem;
        word-break: break-all;
    }
    .red {
        background: #E71A05;
        color: #fff;
    }
    /*产品服务 - 产品*/
    .service {}
    .service li {
        overflow: hidden;
        padding: 1.5rem;
    }
    .service li span {
        display: block;
    }
    .service li .por_num {
        display: block;
        margin-bottom: 1rem;
        width: 2.5rem;
        margin-top: 2rem;
    }
    .service li .pro_dep h3 {
        border-bottom: .2rem solid #2A6EEC;
        display: inline-block;
        font-size: 1.6rem;
        font-weight: lighter;
        padding-bottom: .5rem;
    }
    .service li .pro_dep h3 i {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .service li .pro_content {
        margin-top: 1.5rem;
        display: block;
        line-height: 200%;
        font-size: 1.4rem;
    }
    .service li .pro_content p {
        margin-bottom: 1rem;
        color: #666666;
        word-break: break-all;
    }
    .fw_cont p {
        word-break: break-all;
    }
    .pro_01 {
        background: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .pro_02 {
        padding-top: 10rem;
    }
    .pro_01 .pro_pic {}
    .pro_01 .pro_dep {}
    .pro_02 .pro_pic {}
    .pro_02 .pro_dep {}
    /*产品服务 - 服务*/
    .we_service {
        padding: 1.5rem;
    }
    .we_service li {
        overflow: hidden;
    }
    .we_service li span {
        display: block;
    }
    .we_service li .fw_num {
        float: left;
        display: block;
        margin-right: 1rem;
        width: 5rem;
    }
    .we_service li .fw_content {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: #666;
    }
    .we_service li .fw_content h3 {
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 200%;
    }
    .we_service li .fw_content .fw_eng {
        display: block;
        font-size: 1.25rem;
        text-transform: uppercase;
        line-height: 150%;
        margin-bottom: 2rem
    }
    .we_service li .fw_content i {
        height: 0.75rem;
        width: 2.5rem;
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: none;
    }
    .we_service li .fw_content .fw_cont {
        line-height: 200%;
        font-size: 1.4rem;
    }
    .fw_01 .fw_pic {
        margin-bottom: 1.5rem;
    }
    .ourServices_box {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        border: 1px solid #eee;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.46);
        box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.46);
    }
    .ourServices_box ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }
    .ourServices_box .circle-list li {
        padding: 1.5em;
        border-bottom: 1px dashed #ccc;
    }
    .ourServices_box .circle-list h2 {
        position: relative;
        margin: 0 1rem;
    }
    .ourServices_box .circle-list h2::before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        z-index: -1;
        left: -1.3em;
        top: -.8em;
        background: #f5f5f5;
        height: 1.5em;
        width: 1.5em;
        border: .1em solid rgba(0, 0, 0, .05);
        text-align: center;
        font: italic bold 1em/1.5em Georgia, Serif;
        color: #ccc;
        -moz-border-radius: 1.5em;
        -webkit-border-radius: 1.5em;
        border-radius: 1.5em;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    .ourServices_box .circle-list li:hover h2:before {
        background-color: #ffd797;
        border-color: rgba(0, 0, 0, .08);
        border-width: .2em;
        color: #444;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
    /*联系我们*/
    .content {
        background: url(../image/content_back.jpeg) no-repeat;
        padding: 1.5rem;
        background-size: cover;
    }
    .content_box {
        bottom: 10rem;
    }
    .content_box h3 {
        background: url(../image/tel.png) no-repeat;
        height: 3.5rem;
        font-size: 3rem;
        line-height: 3.5rem;
        padding-left: 5rem;
        color: #3183FF;
        margin-bottom: 2.5rem;
        background-size: 3.5rem 3.5rem;
    }
    .content_box h2 {
        background: url(../image/mail-logo.png) no-repeat;
        height: 3.5rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding-left: 5rem;
        color: #3183FF;
        margin-bottom: 2.5rem;
        background-size: 3.5rem 3.5rem;
    }
    .content_box dl {
        overflow: hidden;
    }
    .content_box dl dt {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    .content_box dl dd {
        font-size: 1.4rem;
        line-height: 200%;
        margin-bottom: 2rem;
    }
    /*案例介绍*/
    .case {}
    .case_list {
        overflow: hidden;
        padding: 1rem;
        overflow: hidden;
    }
    .case_list ul {}
    .case_list li {
        float: left;
        border: 1px solid #F3F3F3;
        background: #fff;
        -moz-box-shadow: 0 0 .8rem #F9F9F9;
        -webkit-box-shadow: 0 0 .8rem #F9F9F9;
        box-shadow: 0 0 .8rem #F9F9F9;
        margin-bottom: 30px;
        cursor: pointer;
        width: 40.8%;
        margin: 2%;
        padding: .5rem;
    }
    .case_list li span {
        display: block;
        color: #4E4E4E;
    }
    .case_list .case_pic {}
    .case_list .case_title a {
        color: #1477F1;
        margin-top: 10px;
        display: block;
        margin-bottom: 5px;
    }
    /*案例弹出*/
    .back {
        background: url(../image/back.png);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .back1 {
        background: url(../image/back.png);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .back2 {
        background: url(../image/back.png);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
    }
    .anli_tc {
        z-index: 100;
        position: fixed;
        top: 0%;
        display: none;
        height: 38rem;
        overflow-x: auto;
        width: 100%;
        margin-top: 2rem;
    }
    .anli_tc::-webkit-scrollbar {
        width: 0px;
    }
    /* 这是针对缺省样式 (必须的) */
    .anli_tc::-webkit-scrollbar-track {
        background-color: #F0F0F0;
    }
    /* 滚动条的滑轨背景颜色 */
    .anli_tc::-webkit-scrollbar-thumb {
        background-color: rgba(204, 204, 204, 1);
    }
    /* 滑块颜色 */
    .anli_tc::-webkit-scrollbar-button {
        background-color: #fff;
    }
    /* 滑轨两头的监听按钮颜色 */
    .anli_tc::-webkit-scrollbar-corner {
        background-color: #fff;
    }
    /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
    .anli_tc_box {
        width: 85%;
        margin: 0 auto;
        background: #f5f5f5;
        padding: 1rem;
    }
    .anli_tc li {
        overflow: hidden;
        line-height: 200%;
        margin-bottom: .5rem;
    }
    .anli_tc li span {
        color: #1E1E1E;
        float: left;
        font-weight: bold;
    }
    .anli_tc li em {
        color: #454545;
        float: left;
        display: block;
    }
    .anli_tc li em a {
        color: #009DEF;
        display: block;
    }
    .anli_tc li em a:hover {
        text-decoration: underline;
    }
    .anli_tc li dl {
        overflow: hidden;
        margin-bottom: .5rem;
    }
    .anli_tc li dl dt {
        float: left;
        font-weight: bold;
        text-align: center;
    }
    .anli_tc li dl dd {
        float: right;
        color: #454545;
    }
    .anli_tc_lbt {
        background: #fff;
        position: relative;
        top: 0;
        overflow: hidden;
        width: 85%;
        margin: 0 auto;
        padding: 1rem
    }
    #full-screen-slider {
        position: relative;
    }
    #slides {
        display: block;
        list-style: none;
        margin: 0;
        position: relative;
        width: 100%;
        height: 10rem;
    }
    #slides li {
        display: block;
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute
    }
    #slides li a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px
    }
    #pagination {
        display: block;
        list-style: none;
        position: absolute;
        right: 0%;
        bottom: 0px;
        z-index: 9900;
        width: 160px;
        text-align: center;
    }
    #pagination li {
        display: block;
        list-style: none;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background: #FFF;
        float: left;
        margin-left: 4px;
        margin-right: 4px;
        background: #D4D5D5;
    }
    #pagination li a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
    }
    #pagination li.current {
        background: #ECAE08
    }
    #full-screen-slider1 {
        position: relative;
    }
    #slides1 {
        display: block;
        list-style: none;
        margin: 0;
        position: relative;
        width: 100%;
        height: 18rem;
    }
    #slides1 li {
        display: block;
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute
    }
    #slides1 li a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px
    }
    #full-screen-slider2 {
        position: relative;
    }
    #slides2 {
        display: block;
        list-style: none;
        margin: 0;
        position: relative;
        width: 100%;
        height: 18rem;
    }
    #slides2 li {
        display: block;
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute
    }
    #slides2 li a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px
    }
    .close {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        right: 1rem;
        top: 0rem;
        z-index: 1000;
        background: #fff;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -o-border-radius: 100%;
        text-align: center;
        padding: .5rem
    }
    .close img {
        width: 80%;
        margin-top: .2rem
    }
    /*返回顶部*/
    .izl-rmenu {
        position: fixed;
        left: 89%;
        bottom: 10px;
        z-index: 999;
        cursor: pointer;
    }
    .izl-rmenu .btn {
        width: 3rem;
        height: 5rem;
        margin-bottom: 1px;
        cursor: pointer;
        position: relative;
        display: none;
        background: url(../image/huojian.png) no-repeat top;
        background-size: 50%;
    }
}

@media only screen and (min-width: 414px) and (max-width: 414px) {
    /*iphone6*/
    .event_list {
        background: url(../image/xian.jpeg) repeat-y 5.2rem;
    }
    .event_list li .event_content {
        width: 21rem;
    }
}


/* Peter添加开始 */

#wrap-p {
    font-size: 20px;
    font-weight: bold;
    color: #a6a6a6;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}
.wrap-line{
    display: block;
    width: 20px;
    height: 4px;
    background: #a6a6a6;
    margin-bottom: 6px;
}

.clearfix {
    display: table;
    /* 触发nfc */
}

.clearfix:before,
.clearfix:after {
    /* 前后加一个空的标签清除浮动 */
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    _zoom: 1;
    /* 为了兼容ie6 */
}

.retail_title {
    font-size: 28px;
    margin-bottom: 40px;
}

.retail_con {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 40px;
}

.retail_title text {
    color: #e60012;
}

.service_con {
    position: relative;
}

.downward {
    position: absolute;
    top: 95%;
    left: 49.2%;
}

.service ul li>img {
    width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 1200px) {
    .retail {
        width: 430px;
        margin-right: 170px;
        float: left;
    }
    .wrap_service {
        width: 1000px;
        margin: 0 auto;
    }
    .catering_img {
        float: left;
    }
    .catering {
        width: 430px;
        float: right;
    }
    .wap_ser_img,
    .web_catering_img {
        display: none;
    }
    .prd_img{
        display: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 0px) {
    .ser_img,
    .catering_img {
        display: none;
    }
    .retail_img img {
        display: block;
        margin: 0 auto;
    }
    .web_catering_img {
        display: block;
    }
    .web_catering_img img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1322px) and (min-width: 1292px) {
    .video_title {
        margin-top: 0;
    }
}

@media screen and (max-width: 1352px) and (min-width: 1323px) {
    .video_title {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) and (min-width: 0px){
.products li dt img {
    margin-left: 40px;
}
}

.index_tit{
    opacity: .3;
}
/* Peter添加结束 */